.hero-heading{
    font-size: 6.5em!important;
}

@media screen and (max-width: 991px) {
    .hero-heading {
        font-size: 2.7em!important;
    }
    .navbar-fixed-top {
        z-index: 8888;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 9vh!important;
        display: flex;
        position: fixed;
        top: 0%;
        bottom: auto;
        left: 0%;
        right: 0%;
    }
    .small-font{
        font-size: 18px!important;
    }
}

@media screen and (max-width: 991px) {
    .container {
        background-color: #000000!important;
    }
    .hero-section{
        background-image: url(GrowthIQ1080x1350px.png)!important;
        background-repeat:no-repeat;
        background-size:100% 100%;
        height: 60vh;
    }
    
.margin-top-60vh {
    margin-top: 35vh!important;
    user-select: none;
}
}

p {
    text-transform: none!important;
}

@media screen and (max-width: 767px) {
    .orange-small-headline {
        font-size: 18px!important;
        line-height: 20px!important;
    }
}

.text-scroling-section.about-paragraph {
    padding-top: 96px!important;
    overflow: hidden;
}

.orange-small-headline {
    color: var(--chocolate\<deleted\|variable-a59d2b4d\>);
    text-align: left!important;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

@media screen and (max-width: 479px) {
    .all-caps-heading.width-50 {
        text-align: left!important;
        width: 100%;
    }
}

.main-logo{
    background-color: transparent!important;
}

.navbar-fixed-top {
    z-index: 8888;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.text-scroling-section.margin-top-60vh {
    margin-top: 50vh;
    user-select: none;
}

.text-animation{
    font-size: 4vw!important;
}

.hero-section{
    background-image: url(GrowthIQ1920x1080px.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.navbar-fixed-top.scrolled {
    background-color: #000000 !important;
    transition: background-color 200ms linear;
}


h2{
    padding-top: 0!important;
    margin-top: 0!important;
}

.w-layout-grid {
    grid-column-gap: 44px!important;
}

.blob-purple {
    background-color: rgba(20, 116, 105)!important;
}

.loading-page{
    width: 25vw!important
}