*{
    cursor: default!important;
}

html {
  scroll-behavior: smooth;
 }

  .dropdown-section {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .subtitle {
    color: #f97316;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .title .highlight {
    color: #f97316;
  }
  
  .dropdown {
    border-bottom: 1px solid #4a5568;
    margin-bottom: 10px;
  }
  
  .dropdown-header {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.7s ease, opacity 0.7s ease;
    font-size: 0.875rem;
    color: #a0aec0;
    padding-left: 10px;
  }
  
  .dropdown-content.active {
    max-height: 100px;
    opacity: 1;
  }
  
  .service-cms-hero-overlay {
    z-index: 10;
    background-image: linear-gradient(180deg, var(--transparent), #000000 80%)!important;
    position: absolute;
    inset: 0%;
}

.buttons {
  z-index: 10;
  grid-column-gap: .3em;
  grid-row-gap: .3em;
  border: 1px solid #ffffff!important;
  background-color: var(--cta-transparent-10);
  color: var(--main-color-1);
  text-align: center;
  border-radius: 50em;
  flex-flow: row;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: .3em;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.buttonz {
  z-index: 10;
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 50em;
  flex-flow: row;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: .7em 1.6em;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.home-one-help-wrap {
  background-color: transparent!important;
}

@media screen and (max-width: 991px) {
  .dropdown-section {
    padding: 0 20px;
    max-width: 600px;
  }
  .container{
    background: transparent!important;
  }
  .service-cms-hero-overlay {
    z-index: 10;
    background-image: linear-gradient(180deg, var(--transparent), #000000 60%)!important;
    position: absolute;
    inset: 0%;
}
.service-cms-hero {
  border-bottom: none!important;
}
}

@media screen and (min-width: 991px) {
.reversed {
  display: flex!important;
  flex-direction: row-reverse!important;
  background-image: radial-gradient(circle at 90%, #f4845f26, #fff0 16%)!important;
  padding-right: 0!important;
}.height-auto{
  height: 65vh!important;
  width: 45vw!important;
}
.margin-left{
  margin-left: -1800px!important;
}
}

@media screen and (max-width: 991px) {
  .on-phone{
    display: none!important;
  }
  .no-padding-top{
    padding-top: 0!important;
  }
  .no-padding-bottom{
    padding-bottom: 0!important;
  }
  .home-one-work-section {
    background-image: radial-gradient(circle at 0%, #f4845f26, #fff0 76%)!important;
  }
  .first-section{
    margin-right: 0px!important;
  }
  .full-width-section{
    width: 80%!important;
    margin-left: auto!important;
    margin-right: auto!important;
  }
}


.home-one-work-section{
  padding-left: 3vw!important;
}


.tag-circle {
  background-color: var(--basket-ball-orange);
  border-radius: 100%;
  flex: none;
  width: 12px!important;
  height: 12px!important;
}

.tag-text {
  color: var(--basket-ball-orange);
  font-size: 25px!important;
  line-height: 28px;
}


.display-column {
  display: flex;
  flex-direction: column!important;
}

.full-screen{
  width: 99vw!important;
}

.text-center{
  text-align: center!important;
} 

.font-size-6em{
  font-size: 6em!important;
}

.first-section{
  margin-right: 100px;
}

.full-width-section {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 40px 20px;
  background-color: transparent;
  line-height: 1.5;
  color: #fff;
  font-size: 24px;
  height: auto;
}

.benefits-section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 40px 20px;
  background-color: transparent;
  color: #000;
  font-size: 20px;
  font-weight: normal;
}
.benefits-section h2 {
  font-size: 28px;
  font-weight: bold;
}
.benefits-section p {
  margin: 20px 0;
  text-align: left;
}