.hero-heading{
    font-size: 6.5em!important;
}

@media screen and (max-width: 991px) {
    .hero-heading {
        font-size: 2.7em!important;
    }
    .navbar-fixed-top {
        z-index: 8888;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 9vh!important;
        display: flex;
        position: fixed;
        top: 0%;
        bottom: auto;
        left: 0%;
        right: 0%;
    }
    .small-font{
        font-size: 18px!important;
    }
}

@media screen and (max-width: 991px) {
    .container {
        background-color: #000000!important;
    }
    .hero-section{
        background-image: url(GrowthIQ1080x1350px.png)!important;
        background-repeat:no-repeat;
        background-size:100% 100%;
        height: 60vh;
    }
    
.margin-top-60vh {
    margin-top: 35vh!important;
    user-select: none;
}
}

p {
    text-transform: none!important;
}

@media screen and (max-width: 767px) {
    .orange-small-headline {
        font-size: 18px!important;
        line-height: 20px!important;
    }
}

.text-scroling-section.about-paragraph {
    padding-top: 96px!important;
    overflow: hidden;
}

.orange-small-headline {
    color: var(--chocolate\<deleted\|variable-a59d2b4d\>);
    text-align: left!important;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

@media screen and (max-width: 479px) {
    .all-caps-heading.width-50 {
        text-align: left!important;
        width: 100%;
    }
}

.main-logo{
    background-color: transparent!important;
}

.navbar-fixed-top {
    z-index: 8888;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.text-scroling-section.margin-top-60vh {
    margin-top: 50vh;
    user-select: none;
}

.text-animation{
    font-size: 4vw!important;
}

.hero-section{
    background-image: url(GrowthIQ1920x1080px.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.navbar-fixed-top.scrolled {
    background-color: #000000 !important;
    /* background-color: #000000ec !important; */
    transition: background-color 200ms linear;
}


h2{
    padding-top: 0!important;
    margin-top: 0!important;
}

.w-layout-grid {
    grid-column-gap: 44px!important;
}

.blob-purple {
    background-color: rgba(20, 116, 105)!important;
}

.loading-page{
    width: 25vw!important
}

/* .stats-container {
    max-width: 1326px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #1f1f1e;
    padding-top: 80px;
    padding-bottom: 0;
}
.counter-v1-line {
    background-image: linear-gradient(#1f1f1e00, #1f1f1e);
    width: 1px;
    height: 241px;
}
.stat-box {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
}

.numbers{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pluss{
    color: #ffffff;
    font-size: 64px;
    line-height: 100%;
}

.stat-number1 {
    color: #ffffff;
    font-size: 64px;
    line-height: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-number2 {
    color: #ffffff;
    font-size: 64px;
    line-height: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-number3 {
    color: #ffffff;
    font-size: 64px;
    line-height: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-text {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font{
    font-family: Arial, sans-serif;
}
 */

 .stats-container {
    max-width: 1326px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex; /* Menține afișarea pe un singur rând */
    border-bottom: 1px solid #1f1f1e;
    padding-top: 80px;
    padding-bottom: 0;
    gap: 20px; /* Spațiere între elemente */
}

.counter-v1-line {
    background-image: linear-gradient(#1f1f1e00, #1f1f1e);
    width: 1px;
    height: 241px;
}

.stat-box {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    width: 30%; /* Ajustare proporțională pentru ecrane mari */
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 15vh;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.pluss {
    color: #ffffff;
    font-size: 64px;
    line-height: 100%;
    display: flex; /* Asigură alinierea flex pe orice rezoluție */
    justify-content: center;
    align-items: center;
}

.stat-number1, .stat-number2, .stat-number3 {
    color: #ffffff;
    font-size: 64px;
    line-height: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-text {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsivitate pentru ecrane mici */
@media (max-width: 768px) {
    .stats-container {
        justify-content: center; /* Centrare pe ecrane mici */
        gap: 20px;
    }

    .stat-box {
        width: 45%; /* Lățime ajustată pentru două coloane pe ecrane mici */
        margin-bottom: 20px;
    }


    .stat-number1, .stat-number2, .stat-number3 {
        font-size: 48px; /* Diminuăm dimensiunea fontului */
    }
    .counter-v1-line {
        background-image: linear-gradient(#1f1f1e00, #1f1f1e);
        width: 1px;
        height: 241px;
    }
    .pluss {
        font-size: 48px;
    }

    .stat-text {
        font-size: 18px; /* Dimensiune redusă pentru text */
    }
}

/* Responsivitate pentru ecrane foarte mici */
@media (max-width: 480px) {
    .stats-container {
        width: 90vw;
        margin-left: 5vw;
    }

    .stat-box {
        width: 32vw; /* Lățime mai mică pentru dispozitive foarte mici */
    }

    .stat-number1, .stat-number2, .stat-number3, .pluss {
        font-size: 32px; /* Diminuăm dimensiunea fontului pentru elemente */
    }
    .counter-v1-line {
        display: none;
    }
    .stat-number2{
        width: 15vw;
    }

    .stat-text {
        font-size: 18px;
    }
}

.paragraph{
    font-size: 28px;
    line-height: 1.2!important;
    font-weight: 400!important;
}

.cards-grid{
    margin-top: 60px!important;
}

.w-container{
    max-width: 100%!important;
}

.w-layout-grid{
    max-width: 940px!important;
    margin: 5 auto;
}

.tabs-menu{
    max-width: 1600px;
    margin: 0 auto;
}

.w-tab-link{
    width: 15vw!important;
}

.small-font{
    height: 10vh!important;
}

@media (max-width: 768px) {
    .tabs-menu{
        width: 35vw!important;
    }
    .w-tab-link{
        width: 25vw!important;
    }
    .small-font{
        height: 20vh!important;
    }
}

@media screen and (max-width: 479px) {
    .paragraph {
        font-size: 16px;
        line-height: 1.4!important;
        margin-bottom: 10px!important;
    }
}

@media screen and (max-width: 767px) {
    .top-menu-wrapper {
        padding-left: 10px;
        padding-right: 10px;
        width: 100vw!important;
    }

    
    .contact-text{
        font-size: 36px!important;
    }
}
/* 
.border-radius-36px{
    border-radius: 6px!important;
} */
.contact-section {
    padding: 60px 0 !important;
    text-align: center!important;
    background: transparent!important;
    position: relative;
}

#get-in-touch .container {
    width: 80%!important;
    max-width: 900px!important;
    margin: 0 auto!important;
}

#get-in-touch .contact-header h2 {
    font-size: 32px!important;
    font-weight: bold!important;
    margin: 20px 0!important;
}

#get-in-touch .contact-header p {
    font-size: 18px!important;
    color: #555!important;
    margin-bottom: 40px!important;
}

#get-in-touch .get-in-touch-btn {
    background-color: #e0e0e0!important;
    border: none!important;
    border-radius: 20px!important;
    padding: 8px 20px!important;
    font-size: 14px!important;
    cursor: pointer!important;
    margin-bottom: 20px!important;
}

 .contact-form {
    background: #f9f9f9!important;
    border-radius: 10px!important;
    padding: 2rem!important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)!important;
    max-width: 100%!important;  /* Asigură-te că formularul nu depășește containerul */
    box-sizing: border-box!important;
    display: grid!important;
}

#get-in-touch .form-group {
    display: flex!important;
    flex-wrap: wrap!important;
    gap: 20px!important;
    margin-bottom: 20px!important;
}

#get-in-touch .form-group input {
    width: calc(50% - 10px)!important;  /* Ajustează lățimea pentru a se potrivi bine pe un singur rând */
    padding: 12px!important;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: black black #c7c7c7;
    background-color: transparent;
    color: #000;
}

#get-in-touch textarea {
    width: 100%!important;  /* Asigură lățimea completă */
    padding: 12px!important;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: black black #c7c7c7;
    background-color: transparent;
    min-height: 100px!important;
    margin-bottom: 20px!important;
    color: #000;
}

textarea{
    color: #000;
}

#get-in-touch .submit-btn {
    background-color: #000!important;
    color: #fff!important;
    border: none!important;
    padding: 15px 30px!important;
    border-radius: 30px!important;
    cursor: pointer!important;
    font-size: 16px!important;
    transition: background 0.3s!important;
}

#get-in-touch .submit-btn:hover {
    background-color: #333!important;
}

.blog-section {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    position: relative;
  }
  
  .blog-slider {
    display: flex;
    overflow: hidden;
  }
  
  .blog-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: transform 0.8s ease;
    flex: 1 0 100%;
    box-sizing: border-box;
    padding: 40px;
    background: transparent;
    min-height: 500px;
  }
  
  .post-content {
    flex: 1;
    padding-right: 20px;
  }
  
  .post-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .post-content p {
    font-size: 20px;
    line-height: 1.6;
    color: #aaa;
  }
  
  .post-thumbnail {
    flex: 1;
    max-width: 50%;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
  }
  
  .post-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }
  
  .blog-navigation {
    text-align: center;
    margin-top: 20px;
  }
  
  .nav-arrow {
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 50%;
    transition: background 0.3s;
    margin: 0 5px;
  }
  
  .nav-arrow:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  /* Media Queries pentru Responsivitate */
  @media screen and (max-width: 768px) {
    .blog-post {
      flex-direction: column;
      text-align: center;
      min-height: auto;
    }
  
    .post-thumbnail {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  
    .post-content {
      padding-right: 0;
    }
  
    .post-content h2 {
      font-size: 28px;
    }
  
    .post-content p {
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .post-content h2 {
      font-size: 24px;
    }
  
    .post-content p {
      font-size: 16px;
    }
  
    .nav-arrow {
      font-size: 24px;
      padding: 5px;
    }
  }
  
  .home-one-blog-text {
    background-image: linear-gradient(0deg, var(--transparent), #ffffff85);
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 200px;
    font-weight: 600;
    line-height: 210px;
    position: absolute;
    inset: -40px 0% auto;
}

.home-one-contact-text{
    background-image: linear-gradient(0deg, var(--transparent), #ffffff85);
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 150px;
    font-weight: 600;
    line-height: 210px;
    position: absolute;
    inset: -40px 0% auto;
}

.home-one-portofolio-text{
    background-image: linear-gradient(0deg, var(--transparent), #ffffff85);
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 200px;
    font-weight: 600;
    line-height: 210px;
    position: absolute;
    inset: -40px 0% auto;
    z-index: 2;
}

.right {
    background-image: linear-gradient(rgba(0, 0, 0, .59), rgba(0, 0, 0, .59)), url(GrowthIQ1080x1350px.png)!important;
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    display: flex
;
}

@media screen and (max-width: 767px) {
    .home-one-service-text {
        font-size: 6rem;
        inset: -10vh 0% auto;
    }
    .home-one-blog-text {
        font-size: 6rem;
        inset: -3vh 0% auto;
    }
    .home-one-contact-text {
        font-size: 3rem;
        inset: -7vh 0% auto;
    }
    .home-one-portofolio-text{
        font-size: 3.5rem;
        inset: -3vh 0% auto;
    }
    .blog-section {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 60px 0;
        position: relative;
        margin-top: -5vh!important;
      }
      .section .mask {
        z-index: 25;
        overflow: hidden;
        padding: 0px 20px!important;
    }
}

.section .mask {
    z-index: 25;
    overflow: hidden;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.menu-hamburger-wrapper{
    background-color: transparent!important;
}

.menu-right-wrapper{
    background-color: transparent!important;
}

/* Stil notificare */
.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.1); /* Alb semi-transparent */
    color: #fff; /* Text alb */
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
}

/* Stare activă */
.notification.show {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
}

/* Ascuns */
.hidden {
    display: none;
}

@media screen and (max-width: 500px) {
    ::placeholder{
        font-size: 0.7rem;
    }
    
}

.footer-links-horizontal {
    display: flex
;
    justify-content: center;
}

.link-text{
    font-weight: bold;
}

.line-rounded-icon.link-icon-right {
    margin-left: 6px;
    display: inline-block;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    background: transparent;
    padding: 10px 0;
    height:35vh;
}

.logos-slide {
    margin-top: 15vh;
    display: flex;
    gap: 60px; 
    width: max-content; 
    animation: scroll-desktop 15s linear infinite;
}

.logos-slide img {
    height: 150px;
    margin: 0px 40px;
}


@keyframes scroll-desktop {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


@media (max-width: 768px) {
    .logos {
        height: 28vh; 
    }
    .logos-slide {
        animation: scroll-mobile 12s linear infinite; 
    }

    .logos-slide img {
        height: 60px; 
        margin: 0;
    }

    @keyframes scroll-mobile {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
    .section .mask{
        z-index: 25;
        overflow: hidden;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

  .partners {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 20px 0 20px;
}

.partner-logo {
    max-width: 35%;
    padding: 30px 40px;
    height: auto;
}

/* Responsivitate */
@media (max-width: 768px) {
    .partners {
        width: 90vw; /* Mai mare pe mobile pentru vizibilitate */
        flex-direction: column;
        gap: 10px;
    }

    .partner-logo {
        max-width: 80%; /* Ajustare dimensiuni pe ecrane mici */
    }
    .footer-links-horizontal {
        flex-direction: column;
        text-align: center;
    }
}

.footer{
    padding-bottom: 10px!important;
}

.info{
    margin-top: 1.5vh;
    text-align: center;
    font-size: 12px;
    color: #424242b9;
}

.facebook { color: #3b5998; }
        .instagram { color: #E4405F; }
        .linkedin { color: #0077B5; }

        .social-buttons {
            display: flex;
            gap: 15px;
            text-align: center;
        }
        .social-buttons a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: transparent;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            font-size: 24px;
            color: #333;
            transition: 0.3s;
        }
        .social-buttons a:hover {
            transform: scale(1.1);
        }

        .social-icon-link{
            width: 30px;
            margin: 0 15px 0 15px!important;
        }

        .link-footer{
            margin: 0 10px 0 10px!important;
        }

        .contact-info{
            margin-top: 1.5vh;
            text-align: center;
            font-size: 16px;
            color: #fff;
        }

        .underline{
            text-decoration: underline;
        }

        .container {
            margin-top: 10vh;
            width: 90%;
            max-width: 800px;
            background: transparent;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        
        h1 {
            text-align: center;
            color: #fff;
            margin-bottom: 10px;
        }
        
        p {
            text-align: justify;
            color: #fff;
            line-height: 1.6;
        }
        
        @media (max-width: 600px) {
            .container {
                width: 95%;
                padding: 15px;
            }
        }